:root {
--ideal-blue: hsla(207, 80%, 22%, 1);
--ideal-gray: hsla(0, 0%, 80%, 1);
--ideal-yellow: hsla(62, 48%, 100%, 1);
--ideal-orange: hsla(1, 69%, 99%, 1);
--ideal-green: hsla(138, 80%, 78%, 1);
}

html {
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}